<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog throwExceptions="true">
    <targets>
      <target type="Debugger" name="console"
              layout="${longdate}|${machinename}|${processname}|${level:uppercase=true}|${logger}|${message}${onexception:|EXCEPTION\:${exception:format=message,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,stacktrace}}" />

      <target name="logfile" type="File"
              fileName="logfile.txt"
              archiveFileName="logfile.{#}.txt"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              layout="${longdate}|${machinename}|${processname}|${level:uppercase=true}|${logger}|${message}${onexception:|EXCEPTION\:${exception:format=message,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,stacktrace}}" />
      
<!--  <target name="insightops" type="Insight" region="eu" debug="true" ssl="false"
            layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}"/>-->

      <target name="insightops" type="AsyncWrapper">
        <target type="RetryingWrapper">
          <target type="Network"
                  address="https://eu.webhook.logs.insight.rapid7.com/v1/noformat/877f6835-7840-4334-a17c-ba1b28bfe728">
            <layout type="JsonLayout">
              <attribute name="time" layout="${longdate}" />
              <attribute name="level" layout="${level:uppercase=true}" />
              <attribute name="logger" layout="${logger}" />
              <attribute name="message" layout="${message}" />
              <attribute name="exception"
                         layout="${exception:format=message,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,stacktrace}" />
            </layout>
          </target>
        </target>
      </target>

    </targets>

    <rules>
      <logger name="*" writeTo="insightops,console" minlevel="Trace" />
    </rules>
  </nlog>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>